@import "src/styles/constants";

.container {

  .content {
    display: flex;
    max-width: 480px;
  }

  .stepIndicatorContainer {
    display: flex;
    justify-content: space-between;
    margin: 0 0 12px 0;
    padding: 0 0 12px 0;
    max-width: 480px;
    border-bottom: 1px solid #e0e0e0;

    .stepIndicator {
      position: relative;
      text-align: center;
      width: 128px;

      &.active {
        .ordinal {
          background-color: $primary-main;
          color: $primary-contrast-text;
        }

        &:not(:first-child)::before {
          background-color: $primary-main;
        }
      }

      .ordinal {
        position: relative;
        margin: 0 auto 16px auto;
        font-size: 20px;
        line-height: 48px;
        width: 48px;
        height: 48px;
        font-weight: 600;
        border-radius: 24px;
        background-color: #e0e0e0;
        z-index: 1;
      }

      .title {
        margin: 0 auto;
        width: 100px;
        font-weight: 600;
      }

      &:not(:first-child)::before {
        position: absolute;
        left: -50%;
        content: '';
        width: 128px;
        height: 4px;
        top: 24px;
        margin: -2px 0 0 -24px;

        background-color: #e0e0e0;
        z-index: 0;
      }
    }
  }

  .buttonsBox {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;

    button {
      flex-basis: 25%;
    }
  }
}
