.modify-escrow-amount-container {
  max-width: 250px;
}

.modify-escrow-deadline-container {
  max-width: 280px;
}

.modify-escrow-seller-container {
  width: 100%;
}

.modify-escrow-title-container {
  display: flex;
  justify-content: space-between;

  .modify-escrow-heading {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
  }
}

@media only screen and (max-width: 768px) {
  .modify-escrow-amount-container {
    width: 100%;
    max-width: none;
  }

  .modify-escrow-deadline-container {
    width: 100%;
    max-width: none;
  }
}
