@import "src/styles/constants";

.name-list-heading-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px;
  width: auto;
  margin: 0 auto 24px auto;
  height: 0;

  &.MuiPaper-outlined {
    background-color: transparent;
    border: none;
  }

  .label {
    display: flex;
    align-items: center;

    .logo {
      margin-right: 16px;
      width: 36px;
    }
  }

  a h6 {
    background-color: $primary-main;
    padding: 0 24px;
    height: 45px;
    line-height: 45px;
    border-radius: 40px;
    color: $primary-contrast-text;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
  }
}

@media (max-width: $min-desktop-width) {
  .name-list-heading-item {
    padding: 0 24px;
    flex-direction: column;
    height: auto;

    .label {
      display: flex;
      margin-bottom: 24px;
    }
  }
}
