@import "src/styles/constants.scss";

.seed-phrase-container {
  padding: 16px 24px;

  h6 {
    text-align: center;
    margin-bottom: 16px;
  }

  .seed-phrase-error {
    width: 280px;
    text-align: center;
    margin: 0 auto;
  }

  textarea {
    width: 300px;
    line-height: 1.5;
    text-align: center;
  }

  .seed-phrase-buttons-box {
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;

    button {
      white-space: nowrap;
      text-align: center;

      &:not(:first-child) {
        margin-left: 8px;
      }
    }
  }
}
