/** Colors */
$primaryBlue: #5B6CE1;
$primaryYellow: #EEBF40;
$white: #fff;
$black: #000;
$DefaultFontColor: #1C1C1C;
$defaultFont: #131E40;
$lightGrey: #F3F3F3;
$lightBlue : #5B72B7;
$fontLightGrey: #9299AF;
$backgroundColor: #7F8EF7;
$LighterBlue: #F0F3F7;
$DarkBlue : #5A67B8;
$DarkBlueText : #2E397E;
$TextGrey: rgba(28, 28, 28, 0.4);
$lightPurple: #B393DF;
$lightDark: #8B99F8;
$darkBackgroundBlue: #4955D1;
$lightRed: #FF5733;