/**  Screen break pixels*/
$DIN: 'DIN';
$DIN-BOLD: 'DIN-Bold';
$DIN-BLACK : 'DIN-Black';
$DIN-LIGHT: 'DIN-Light';
$DIN-LIGHTITALIC: 'DIN-LightItalic';
$DIN-MEDIUM : 'DIN-Medium';
$MULISH : 'Mulish';

$REGULAR: 'regular';
$BOLD : 'Bold'